body {
  background: url('../assets/bg6.png') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000;
}

.container{

width: 410px;
margin: 0 auto;
}

section input[type=text], section input[type=email], section input[type=password]  {
  height: 20px;
}

section h1 {
  font-size: 40px;
  text-align: left;
  font-weight: 600;
  margin-top: 150px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'bubbler one';
}

section input[type=submit] {
  border: 0;
  width: 90px;
  height: 35px;
  background: #F33F3F;
  color: #fff;
  font-size: 17px;
  font-family: 'bubbler one';
  float: left;
}

section label {
  display: inline-block;
  width: 86px;
  font-size: 18px;
  margin-right: 10px;
  font-family: 'futura std';
  font-weight: 300;
}

label.error {
  color: red;
  width: auto;
  font-size: 15px;
  margin-top: 5px;
}

section p {
  margin-top: -2px; 
  font-size: 13.5px;
  line-height: 40px;
  margin-left: 108px;
  font-family: 'futura std';
  font-weight: 800;
}
section a {
 color: #F33F3F;
 width: 40px;
 padding-left: 4px;
 text-decoration: none;
 font-family: 'futura std';
 font-weight: 800;
}

.error {
  color: red;
  font-size: 17px;
  margin-left: 33px;
  margin-bottom: 35px;
}

